.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    background-color: #f3f3f36e;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.word-definition-lookup-input, .word-definition{
    position:absolute;
    z-index:9999;
    background-color:#f5f5f5;
    border:1px solid grey;
    color:black;
    padding:5px;
    border-radius:10px;
    font-size:14px;
    font-weight:600;
    box-shadow: 0px 0px 5px 5px rgba(100,100,100,0.6); 
}